* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  height: 1000px;
}
.shopping-card {
	height: 700px;
	width: 600px;
	background-image: url(../img/banner-nam.jpg);
	transition: 0.5s all;
	color: white;
}

.shopping-card:hover {
	background-image: url(../img/banner-nu.jpg);
	color: black;
}
